@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
*{
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body{

  margin: 0;
}
h1{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 50px;
}
h3{
  font-family: 'Permanent Marker',cursive;
  font-size: 46px;
  text-align: center;

}
h2{
  font-family: 'Permanent Marker',cursive;
  text-align: center;
  font-size: 60px;

}

p{
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 23px;
}

  a:link {
    color: white;
  }

section{
  display: block;
}

  .nav-link{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: #ffffff !important;
  }

.container-fluid{
  width: 100%;
}
.navbar-nav > li{
  padding-left:80px;
  padding-right:80px;
}
.navbar{
  background-color:#FF3B63 !important;
}
.carousel-item {
  height: 89vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-text{
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  line-height: 2em;
  height: 6.5em;
  display: table;
  vertical-align: middle;
  margin:auto;
}
.lead{
  font-family: 'Acme', sans-serif;
  position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.center {
  width: 100%;
  max-width:960px;
  text-align: center;
  margin: auto;
}
.container {
  display: block;
  color: #FF3B63;
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}
.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 80px;
}

.menu-section-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name{
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: 'Overpass',italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}


.bg-light {
  background: #f4f4f4;
  color: #333;
}
#about{
  padding: 40px;
}
#menu{
  padding: 15px;
}

     .footer {
       background-color: #FF3B63;
       color: #ffffff !important;
     }
     input[type=text], select, textarea {
       width: 100%;
       padding: 12px;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
       margin-top: 6px;
       margin-bottom: 16px;
       resize: vertical;
     }

     input[type=submit] {
       background-color: #FF3B63;
       color: white;
       padding: 12px 20px;
       border: none;
       border-radius: 4px;
       cursor: pointer;
     }

     input[type=submit]:hover {
       background-color: #45a049;
     }
     span{
       font-size: 1em;
       color: tomato;
      display: flex;
      justify-content: center;
     }
